@font-face {
    font-family: BankGothic;
    src: url(BankGothic.ttf);
}


body {
    font-family: 'Open Sans', sans-serif;
}

.bg-dark-blue {
    --bs-bg-opacity: 1;
    background-color: #030353 !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #1e2125;
    background-color: #e9ecef;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0d6efd;
}
.dropdown-item.disabled, .dropdown-item:disabled {
    color: #adb5bd;
    pointer-events: none;
    background-color: transparent;
}

/* Show the dropdown menu on hover */
.has-megamenu:hover .dropdown-menu {
    display: block;
}

#logo {
    height: 100px;
    width: auto;
    transition: 1s;
}

.navbar .megamenu {
    padding: 1rem;
    background-color: #030353  ;
}

#slogan {
    font-family: BankGothic;
    font-size: 24px;
    margin: auto;
}

#top-header {
    background-color: #030353  ;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    color: #ffffff;
}

#top-header .nav-link {
    color: #ffffff;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }

}

/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media (max-width: 991px) {
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }

    #slogan {
        font-size: 14px;
    }
}

/* ============ mobile view ============ */
@media (max-width: 1200px) {
    #slogan {
        font-size: 18px;
    }
}

/* ============ mobile view .end// ============ */