@font-face {
    font-family: BankGothic;
    src: url(BankGothic.ttf);
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeTop {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.et_pb_animation_left.et-animated {
    opacity: 1;
    -webkit-animation: fadeLeft 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeLeft 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeLeft 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeLeft 2s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.et_pb_animation_right.et-animated {
    opacity: 1;
    -webkit-animation: fadeRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeRight 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.et_pb_animation_top.et-animated {
    opacity: 1;
    -webkit-animation: fadeTop 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeTop 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeTop 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeTop 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.et_pb_animation_bottom.et-animated {
    opacity: 1;
    -webkit-animation: fadeBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeBottom 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.et_pb_animation_fade_in.et-animated {
    opacity: 1;
    -webkit-animation: fadeIn 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: fadeIn 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: fadeIn 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
    animation: fadeIn 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
}

.banner-info{
    text-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
    border-top-left-radius:3px;
    border-top-right-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50%;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #666;
}

.bg-dark-blue {
    --bs-bg-opacity: 1;
    background-color: #030353 !important;
}

#carouselSection{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 40%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    font-size: 0.8em;
}

.carousel-caption h5{
    font-size: 1.25em;
    line-height: 1;
}
.categoria-list .nav-link{
    font-size: 12px;
    background-color: #f2f2f2;
    color: #666;
    border-radius: 5px;
}
.categoria-list .active{
    font-weight: bold;
}
.categoria-list .nav-link:hover{
    background-color: #e1e1e1;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #1e2125;
    background-color: #e9ecef;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0d6efd;
}
.dropdown-item.disabled, .dropdown-item:disabled {
    color: #adb5bd;
    pointer-events: none;
    background-color: transparent;
}
.entry-title{
    color: #030353;
}
/* Show the dropdown menu on hover */
.has-megamenu:hover .dropdown-menu {
    display: block;
}
.img-prod{
    max-height: 300px;
}
.image-front{
    width: 30%;
    position: absolute;
    top:20%;
    left: 20%;
    height: 50%;
}
.image-banner{
    max-height: 100%;
    width: auto;
}
#logo {
    height: 100px;
    width: auto;
    transition: 1s;
}

#main-footer{
    background-color: #030353  ;
    color: white;
}

.megamenu .col-megamenu .nav-link{
    padding: .15rem 0.5rem;
}
.navbar .megamenu {
    padding: 1rem;
    background-color: #030353  ;
}


#slogan {
    font-family: BankGothic, sans-serif;
    font-size: 24px;
    margin: auto;
}
.social-logo{
    height: 24px;
    width: auto;
    margin-right: 10px;
    vertical-align: text-top;
}
#top-header {
    background-color: #030353  ;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    color: #ffffff;
}

#top-header .nav-link {
    color: #ffffff;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }
    .carousel-caption {
        right: 15%;
        left: 15%;
        text-align: center;
        line-height: 1.5;
        font-size: 1em;
    }
    .carousel-caption h5{
        font-size: 1.25em;
        line-height: 1.2;
    }
    .banner-info{
        width: 30%;
    }
}

/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media (max-width: 991px) {
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }

    #slogan {
        font-size: 14px;
    }
}

/* ============ mobile view ============ */
@media (max-width: 1200px) {
    #slogan {
        font-size: 18px;
    }
}

/* ============ mobile view .end// ============ */