@font-face {
    font-family: BankGothic;
    src: url(BankGothic.ttf);
}

#slogan {
    font-family: BankGothic;
    font-size: 24px;
    margin: auto;
}

.bg-dark-blue {
    --bs-bg-opacity: 1;
    background-color: #07009b !important;
}
body {
    font-family: 'Open Sans', sans-serif;
}
#logo{
    height: 100px;
    width: auto;
    transition: 1s;
}
#top-header {
    background-color: #07009b;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    color: #ffffff;
}

#top-header .nav-link {
    color: #ffffff;
}

.navbar .megamenu {
    padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }

}

/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media (max-width: 991px) {
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
    #slogan {
        font-size: 14px;
    }
}
/* ============ mobile view ============ */
@media (max-width: 1200px) {
    #slogan {
        font-size: 18px;
    }
}

/* ============ mobile view .end// ============ */