## REWRITE DEFAULTS

ErrorDocument 404 /
RewriteEngine On
# RewriteBase /
RewriteRule ^productos/(.*)/(.*)/ categoria.php?tipo=$1&descripcion=$2 [L]

RewriteRule ^productos/(.*)/ producto.php?&producto=$1 [L]